/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/

html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}
.popup{
    
    border:1px;
    width:50px;
    height:20px;
    font-family:sans-serif;
    font-weight:100;
    
}
.leftpane{
    float:left;
    width:30%;
    background-color: beige;
    color:darkblue;
    border:1px;
    display:flex;
    flex-direction:row;
}
.rightpane{
    float:right;
    width:70%;
     background-color: beige;
    color:darkblue;
    border:1px;
   
}


.pageContainer{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    
}

.listLocations
{
   list-style-type: none;
  padding: 0;
  margin: 0;
    display:flex;
    flex-direction: column;


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
